<section>
    <div class="container-fluid bg-dark main_containor">
        <div class="row h-100">
            <div class="col-12 col-lg-6">
                <div class="d-flex justify-content-start justify-content-lg-center align-items-center h-100">
                    <h5 class="footer_text">Copyright © {{yearData }} <a routerLink="/">Sandeep.</a> All Rights
                        Reserved.</h5>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex justify-content-start justify-content-lg-center align-items-center h-100">
                    <h5 class="footer_text">Designed by <a routerLink="/">Sandeep Saini</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>