<div class="container">
    <h1 class="what_main_head text-center mt-5">How I can help your next project</h1>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="what_Main_col text-center">
                <i class="bi bi-laptop"></i>
                <h1>Web Design</h1>
                <h2>Lorem ipsum dolor sit amet consectetur tdf is adipisicing elit. Fugit odit error, fuga possimus are rerum
                    veniam debitis rem animi, blanditiis eum asperiores veritatis consectetur at home obcaecati eaque.</h2>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="what_Main_col text-center">
                <i class="bi bi-pencil-square"></i>
                <h1>UI/UX Design</h1>
                <h2>Lorem ipsum dolor sit amet consectetur tdf is adipisicing elit. Fugit odit error, fuga possimus are rerum
                    veniam debitis rem animi, blanditiis eum asperiores veritatis consectetur at home obcaecati eaque.</h2>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="what_Main_col text-center">
                <i class="bi bi-broadcast-pin"></i>
                <h1>Web Developing</h1>
                <h2>Lorem ipsum dolor sit amet consectetur tdf is adipisicing elit. Fugit odit error, fuga possimus are rerum
                    veniam debitis rem animi, blanditiis eum asperiores veritatis consectetur at home obcaecati eaque.</h2>
            </div>
        </div>
    </div>
</div>