.what_main_head{
    font-size: 2.5rem;
    font-weight: 600;
}

.what_Main_col i{
    font-size: 80px;
    color: #adff2f;
}

.what_Main_col h1{
    font-size: 1.5rem;
    font-weight: 600;
}
.what_Main_col h2{
    font-size: 20px;
    color: #8e9a9d;
}