<section>
    <div class="container">
        <h1 class="about_main_head text-center mt-3">Know Me More</h1>
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="about_main_text">
                    <h3>Hi, I'm <span>Sandeep Saini</span></h3>
                    <h4>I'm a designer & developer with a passion for web design. I enjoy developing simple, clean and
                        slick
                        websites that provide real value to the end user. Thousands of clients have procured exceptional
                        results while working with me. Delivering work within time and budget which meets client’s
                        requirements is our moto.</h4>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="about_experience_year">
                    <h2>1+</h2>
                    <div></div>
                    <h3>Years of <span>Experiance</span></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="all_about_me">
                    <h3>Name:</h3>
                    <h4>Sandeep Saini</h4>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="all_about_me">
                    <h3>Email:</h3>
                    <h4>{{ 'ssanini70@gmail.com' }}</h4>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="all_about_me">
                    <h3>Date of birth:</h3>
                    <h4>23 July 2000</h4>
                </div>
            </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="all_about_me">
                        <h3>From:</h3>
                        <h4>Rajasthan, India</h4>
                    </div>
                </div>
        </div>
    </div>
</section>