<div class="container-fluid" style="background-color: #adff2f;">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="cotact_first_col">
                    <h1>Let's get in touch</h1>
                    <h2>I enjoy discussing new projects and design challenges. Please share as much info, as possible so
                        we
                        can get the most out of our first catch-up.</h2>
                    <h3>Living In:</h3>
                    <h4>Ganwari, NeemkaThana, Rajastnan, India</h4>
                    <h3>Call:</h3>
                    <h4>+91 7732939695</h4>
                </div>
                <div class="social_icons">
                    <i class="bi bi-facebook fs-5"></i>
                    <i class="bi bi-instagram px-3 fs-5"></i>
                    <i class="bi bi-github fs-5"></i>
                    <i class="bi bi-slack ps-3 fs-5"></i>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-4 mt-md-0">
                <div class="cotact_first_col">
                    <h1>Estimate your Project?</h1>
                    <h3>Send me Details Here:</h3>
                    <h4>ssanini70&#64;gmail.com</h4>
                </div>
            </div>
        </div>
    </div>
</div>