<div class="container my-5">
    <div class="work_main_head">
        <h1>Have any questions?</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="accordion mt-5" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How can I help you?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       I will help you by providing information or asking questions related to web development, programming, and related technologies.As Technical Questions, Coding Challenges, Share Best Practices, Discuss Latest Technologies, Review Code, Discuss Web Design Trends, Explore Career and Learning Paths etc.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Process of workflow?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      As You know that I am developing and designing web applications so I will give you the process and way to develop and design web applications.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How do You get started with your prjects?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        You can discuss your project with me then I will give you the right way to start to end your project.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        How do You contact with me?
                    </button>
                  </h2>
                  <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      If you have any query then you can connect to me by social media as facebook, Instagram, youtube and slack and also you connect with me as technical media as github etc.
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-6 text-center order-1 order-md-2">
            <img class="img-fluid" src="/assets/faq.png" alt="">
        </div>
    </div>
</div>