<div class="container-fluid main_home_containor">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-7 order-2 order-lg-1">
                <div class="main_head h-100">
                    <h1 class="text-start">Hi, I'm a Freelancer</h1>
                    <h2>Sandeep Saini</h2>
                    <h3>based On Web Developing.</h3>
                    <button class="btn btn-dark">View My Work</button>
                </div>
            </div>
            <div class="col-12 col-lg-5 order-1 order-lg-2">
                <div class="Main_img_contant h-100">
                    <div class="main_img_border">
                        <img class="img-fluid" src="/assets/myImg.JPG" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-about></app-about>
<app-what-ido></app-what-ido>
<app-skill></app-skill>
<app-my-resume></app-my-resume>
<app-work></app-work>
<app-contact></app-contact>