<div class="container">
    <div class="resume_main_head pb-3">
        <h1>A summary of My Resume</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="myedu_col_head pb-2">My Education</h2>
            <div class="myedu_col">
                <div class="my_edu_details ms-3">
                    <h1>Bachelor in Computer Science</h1>
                    <h6>College of Technology And Engineering, Udaipur</h6>
                    <h6>2018 - 2022</h6>
                    <p>CGPA:- 6.4</p>
                </div>
                <hr class="mx-3" style="color: #8e9a9d; height: 2px;">
                <div class="my_edu_details ms-3">
                    <h1>Higher secondary education</h1>
                    <h6>Vivekanand Sr. Sec. School, NeemKaThana, Raj.</h6>
                    <h6>2016 - 2017</h6>
                    <p>Percentage:- 82%</p>
                </div>
                <hr class="mx-3" style="color: #8e9a9d; height: 2px;">
                <div class="my_edu_details ms-3">
                    <h1>Secondary education</h1>
                    <h6>Vivekanand Sr. Sec. School, NeemKaThana, Raj.</h6>
                    <h6>2014 - 2015</h6>
                    <p>Percentage:- 92%</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            <h2 class="myedu_col_head pb-2">My Experience</h2>
            <div class="myedu_col">
                <div class="my_edu_details ms-3">
                    <h1>Full Stack Web Developer</h1>
                    <h6>Gohashinclude Pvt. Ltd, Jaipur</h6>
                    <h6>Sep. 2022 - Present</h6>
                    <p>Here, I am responsible for designing, developing, and maintaining both the front-end and back-end of web applications. I also have a strong understanding of both the client-side and server-side technologies, allowing them to work on all aspects of a web application's architecture.<br><br> I am working on integration front-end and back-end components to create fully functional web applications and develop responsive and user-friendly web interfaces using HTML, CSS, Bootstrap and JavaScript and implement and maintain front-end frameworks and libraries</p>
                </div>
            </div>
        </div>
    </div>
</div>